<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
  <button class="horse" *ngIf="hero.horse">
    Horse assigned: {{hero.horse.name}}
  </button>
  <button *ngIf="!hero.horse" (click)="showAssignHorse()">assign a horse</button>
    <div *ngIf="showHorses!">
      <app-horses (horseSelected)="horseSelectedHandler($event)" ngDefaultControl  [(ngModel)]="hero.horse" ></app-horses>
    </div>
  

</div>
